@font-face {
  font-family: 'MonaSans';
  src: url('../../fonts/MonaSans-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'MonaSans';
  src: url('../../fonts/MonaSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'MonaSans';
  src: url('../../fonts/MonaSans-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'MonaSans';
  src: url('../../fonts/MonaSans-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
