.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 80px 30px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
}

.logo {
  width: 100%;
  max-width: 240px;
}

h1 {
  margin: 20px 0;
  font-size: var(--f2);
  font-weight: var(--light);
  color: var(--white);
}

.field {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 400px;
  overflow: hidden;
  margin-top: 25px;
}

.icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.icon::after {
  content: '';
  position: absolute;
  right: 0;
  width: 1px;
  height: 70%;
  background-color: var(--grey-soft);
}

.icon svg {
  width: 25px;
  height: 25px;
  fill: var(--white);
  pointer-events: none;
}

label {
  position: absolute;
  top: 20px;
  left: 100px;
  font-size: var(--f1);
  font-family: var(--light);
  color: var(--grey-light);
  pointer-events: none;
}

input {
  width: 100%;
  height: 80px;
  padding: 30px 20px 0 100px;
  font-size: var(--f2);
  font-weight: var(--bold);
  color: var(--white);
  background-color: var(--black-dark);
  border-radius: 10px;
  border: none;
  outline: none;
}

input::placeholder {
  color: var(--white);
  font-size: var(--f2);
  font-weight: var(--bold);
}

select {
  width: 100%;
  height: 80px;
  padding: 30px 20px 0 100px;
  font-size: var(--f2);
  font-weight: var(--bold);
  color: var(--white);
  background-color: var(--black-dark);
  border-radius: 10px;
  border: none;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}

select option[value=""] {
  color: var(--grey-light);
}

.field select {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='white' d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 20px center;
  background-size: 20px;
}

select:focus {
  outline: none;
}

button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 400px;
  height: 60px;
  margin-top: 20px;
  background-color: var(--red);
  color: var(--white);
  font-size: var(--f2);
  font-weight: var(--bold);
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}

button:hover {
  background-color: color-mix(in srgb, var(--red) 65%, var(--white) 35%);
}
